
<div class="p-3 w-100 border ronuded-2 shadow-sm d-flex justify-content-between align-items-center">
	<h5 class="m-0 d-flex align-items-center">{{ recipeItem().title }}</h5>


	<div class="dropdown" (click)="$event.stopPropagation()">		
		<button class="btn btn-sm btn-light border" type="button" data-bs-toggle="dropdown" >
			<i class="bi bi-three-dots"></i>
		</button>
		<ul class="dropdown-menu">
		  <li><a class="dropdown-item" (click)="editRecipe()">Edit recipe</a></li>
		  <li><a class="dropdown-item text-danger" (click)="deleteRecipe()">Delete recipe</a></li>
		</ul>
	  </div>
</div>