<div class="d-flex flex-column w-100 h-100">
	<div class="wrapper position-relative">
		<div class="buttons-overlay position-absolute w-100 h-100 d-flex align-items-start justify-content-between p-3">
			<button type="button" (click)="location.back()" class="btn btn-light btn-sm align-self-start border">
				<i class="bi bi-arrow-left fs-6 p-0"></i>
			</button>

			@if(editable$ | async){
				<div class="btn-group">
					<button type="button" data-bs-toggle="dropdown" aria-expanded="false" (click)="$event.stopPropagation();" class="btn btn-light btn-sm align-self-start border">
						<i class="bi bi-three-dots fs-6 p-0"></i>
					</button>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" (click)="editRecipe();$event.stopPropagation();">Edit recipe</a></li>
						<li><a class="dropdown-item text-danger" (click)="deleteRecipe();$event.stopPropagation();">Delete recipe</a></li>
					</ul>
				</div>
			}
		</div>

		<img src="./images/recipes/{{ (recipe$ | async)?.id }}.jpg" class="w-100 object-fit-cover" alt="">
		<div class="image-overlay bg-light position-absolute w-100 rounded-top-4 shadow"></div>
	</div>

	<div class="content w-100 h-100 bg-light px-2">
		
		<div class="p-3 shadow-sm bg-white rounded border mb-3">
			<div class="title-row d-flex justify-content-between align-items-center mb-1">
				<h2 class="m-0">{{ (recipe$ | async)?.title }}</h2>
				<div class="rating d-flex column-gap-2 align-items-center">
					<h3 class="m-0">{{ (recipe$ | async)?.rating }}</h3>
					<i class="bi bi-star-fill fs-4 text-yellow"></i>
				</div>
			</div>
	
			<div class="recipe-info-row d-flex align-items-center ">

				<app-avatar size="S" [userId]="(recipe$ | async)?.id || null"></app-avatar>
				<p class="m-0 text-secondary ms-3 me-auto">{{ (recipe$ | async)?.createdBy?.firstName }} {{ (recipe$ | async)?.createdBy?.lastName }}</p>
	
				<i class="bi bi-clock text-secondary me-1"></i>
				<p class="m-0 text-secondary fs-7 me-3">1 hr 15 mins</p>
	
				<i class="bi bi-fire text-secondary me-1"></i>
				<p class="m-0 text-secondary fs-7">240 cals</p>
			</div>
		</div>
		
		<ul class="list-group shadow-sm mb-3">
			<li class="list-group-item d-flex justify-content-between column-gap-2">
				<h6 class="m-0 py-1">Description</h6>
			</li>

			<li class="list-group-item text-secondary">{{ (recipe$ | async)?.description }}</li>
		</ul>


		
		<ul class="list-group shadow-sm mb-3">

			<li class="list-group-item d-flex justify-content-between column-gap-2">
	
				<h6 class="m-0 py-1">Ingredients</h6>
				
				<div class="servings-count d-flex align-items-center column-gap-2">
					<i class="bi bi-dash-lg text-primary pointer" (click)="decrementServings()"></i>

					<div class="d-flex column-gap-2 align-items-end">
						<h5 class="m-0">{{ servings }}</h5>
						<p class="m-0 text-secondary fs-7"> {{ servings == 1 ? 'serving' : 'servings' }}</p>
					</div>

					<i class="bi bi-plus-lg text-primary pointer" (click)="incrementServings()"></i>
				</div>
			</li>

			@for(recipeIngredient of (recipe$ | async)?.ingredients ; track $index){
				<li class="list-group-item d-flex justify-content-between column-gap-2">
	
					<p class="m-0 text-secondary">{{ recipeIngredient.name }}</p>
					
					<p class="m-0 ml-a text-secondary">{{ recipeIngredient.amount * servings}} {{ recipeIngredient.measurement.label }} </p>
				</li>
			}
		</ul>

		<ul class="list-group shadow-sm pb-3">
			<li class="list-group-item d-flex justify-content-between column-gap-2">
	
				<h6 class="m-0 py-1">Steps</h6>
				
			</li>

			@for(step of (recipe$ | async)?.steps ; track $index){
				<li class="list-group-item d-flex justify-content-between column-gap-3">
	
					<h6 class="m-0 pt-1">{{$index + 1}}</h6>
					
					<p class="m-0 ml-a text-secondary w-100">{{ step.longText }}</p>
				</li>
			}
		</ul>
	</div>
</div>
