<div class="recipe-wrapper d-flex flex-column p-3 row-gap-3 ">

	<div class="image w-100 p-2 d-flex justify-content-between">
		<button type="button" (click)="location.back()" class="btn btn-light btn-sm align-self-start border">
			<i class="bi bi-arrow-left fs-6 p-0"></i>
		</button>
	
		<button type="button" class="btn btn-light btn-sm align-self-start border" (click)="router.navigate(['recipe', recipeId, 'edit'])" >
			<i class="bi bi-pencil"></i>
		</button>
	</div>

	<div class="title rounded-2 border p-3 shadow-sm">
		<h2 class="m-0">{{ (recipe$ | async)?.title }}</h2>		
	</div>

	<ul class="list-group">
		@for(ingredient of (recipe$ | async)?.ingredients ; track $index){
			<li class="list-group-item d-flex justify-content-between shadow-sm column-gap-2">

				<p class="m-0">{{ ingredient.name }}</p>
				
				<p class="m-0 ml-a">{{ ingredient.amount }} {{ ingredient.measurement.label }} </p>
			</li>
		}
	</ul>

	<div formArrayName="steps" class="steps d-flex flex-column row-gap-2">
		@for(step of (recipe$ | async)?.steps ; track $index){
			<div class="p-2 border rounded-2 shadow-sm">
				<p class="m-0">{{ step.longText }}</p>
			</div>
		} 
	</div>
</div>