<div class="in-focus-wrapper w-100 rounded-2 shadow position-relative">
	<h1 class="background-text w-100 h-100 d-flex align-items-center justify-content-between position-absolute text-uppercase">{{ recipe()?.title }}</h1>
	<img class="position-absolute in-focus-plate" src="/images/in-focus-plate.png" alt="">
	
	<div class="content p-4 d-flex row-gap-1  h-100 flex-column position-relative">
		<p class="text-white-75 m-0">In focus</p>
		<h1 class="m-0 text-white">{{ recipe()?.title }}</h1>
		<p class="m-0 text-white-75 fs-5">{{ recipe()?.description }}</p>
		<div class="check-out-button position-relative mt-auto pointer d-flex column-gap-3" (click)="checkOut()">
			<p class="m-0 text-white">Check out</p>
			<i class="bi bi-arrow-right text-white"></i>
		</div>
	</div>

</div>