<div class="card p-3 shadow-sm pointer" [class]="size()" (click)="navigateToRecipe()">
	
	<div class="image-wrapper position-relative">
		<img src="/images/recipes/1.jpg" class="card-img-top rounded-2 object-fit-cover" alt="...">
	</div>
	
	<div class="card-body px-0 pt-2 pb-0 d-flex flex-column">
		<div class="mb-2 d-flex justify-content-between">

			<div class="title-section d-flex column-gap-2 align-items-center">
				<div class="title">
					<h5 class="m-0">{{ recipe().title }}</h5>
					<div class="d-flex column-gap-1 align-items-center">
						<p class="text-secondary fs-7 m-0">By Jane Doe</p>
					</div>
				</div>
			</div>
			<i class="bi bi-heart text-primary"></i>
		</div>
	
		<p class="card-text description text-secondary m-0 fs-7">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam finibus dignissim tincidunt. Curabitur eget suscipit.
		</p>
	
		<div class="border-top mt-3 pt-2 d-flex align-items-center column-gap-3 flex-wrap">

			<div class="time d-flex align-items-center column-gap-2 text-secondary">
				<i class="bi bi-clock fs-7"></i>
				<p class="m-0 fs-7">1 h 15 mins</p>
			</div>

			<div class="time d-flex align-items-center column-gap-2 text-secondary">
				<i class="bi bi-egg-fried fs-7"></i>
				<p class="m-0 fs-7">12 st</p>
			</div>

			<div class="time d-flex align-items-center column-gap-1 text-secondary ms-auto">
				<p class="m-0 fs-7">4.5</p>
				<i class="bi bi-star-fill fs-7 text-yellow"></i>
			</div>
		</div>
	</div>
</div>