<div class="d-flex flex-column w-100 h-100">
	<div class="wrapper position-relative">
		<div class="buttons-overlay position-absolute w-100 h-100 d-flex align-items-start justify-content-between p-3">
			<button type="button" (click)="location.back()" class="btn btn-light btn-sm align-self-start border">
				<i class="bi bi-arrow-left fs-6 p-0"></i>
			</button>

			@if((loggedInUser$ | async)?.id === userId){
				<button type="button" (click)="goToSettings()" class="btn btn-light btn-sm align-self-start border">
					<i class="bi bi-gear-fill fs-6 p-0"></i>
				</button>
			}
		</div>

		<img src="./images/user-stripes/{{ userId }}.jpg" class="w-100 object-fit-cover" alt="">
		<div class="image-overlay bg-light position-absolute w-100 rounded-top-4 shadow"></div>
	</div>

	<div class="content w-100 bg-light px-2 pb-3">
		
		<div class="p-3 shadow-sm bg-white rounded border mb-3 d-flex flex-column row-gap-3">
			
			<div class="title-row d-flex column-gap-3 align-items-center">
				<app-avatar size="L" [userId]="userId"></app-avatar>

				<div class="d-flex flex-column justify-content-center row-gap-1">
					<h3 class="m-0 lh-1">{{ user?.firstName }} {{ user?.lastName }}</h3>
					<p class="text-secondary lh-1 m-0">&#64;{{ user?.handle}}</p>
				</div>

				@if((loggedInUser$ | async)?.id !== userId){
					<button 
						class="btn ms-auto" 
						(click)="toggleFollows()"
						[class.btn-outline-primary]="(isFollowing() | async)"
						[class.btn-primary]="!(isFollowing() | async)"
					>{{ (isFollowing() | async) ? 'Unfollow' : 'Follow' }}</button>
				}
			</div>

			<p class="m-0 text-secondary">{{ user?.bio }}</p>
		</div>
		
		<app-recipe-card-list 
			[recipes]="(userRecipes$ | async) || []" 
			[likes]="isLikedMap"
			[loggedInUserId]="(loggedInUser$ | async)?.id || -1"
		></app-recipe-card-list>
	</div>
</div>
