<form [formGroup]="form" (submit)="onSubmit()" class="recipe-wrapper d-flex flex-column p-3 row-gap-3 ">

	<div class="image w-100 p-2 d-flex justify-content-between">
		<button type="button" (click)="location.back()" class="btn btn-light btn-sm align-self-start border">
			<i class="bi bi-arrow-left fs-6 p-0"></i>
		</button>
	</div>

	<ul class="list-group shadow-sm">

		<li class="list-group-item">
			<b class="m-0">Title</b>
		</li>

		<li class="list-group-item">
			<input class="form-control" formControlName="title" type="text">
		</li>
	</ul>

	<ul class="list-group shadow-sm" formArrayName="ingredients">

		<li class="list-group-item d-flex justify-content-between">
			<b class="m-0">Ingredients</b>
			<button class="btn btn-primary btn-sm" type="button" (click)="addIngredient()">
				<i class="bi bi-plus-lg"></i>
			</button>
		</li>

		<li *ngFor="let ingredient of ingredients.controls; trackBy: trackById; let ingredientIndex = index" class="list-group-item d-flex justify-content-between column-gap-2" [formGroupName]="ingredientIndex">

			<input class="form-control form-control-sm" formControlName="name" type="text">
			
			<input class="form-control form-control-sm" formControlName="amount" type="text">

			<select  [compareWith]="compareFn"  class="form-select form-select-sm" formControlName="measurement" >
				@for(measurement of (measurements$ | async); track $index;){
					<option [ngValue]="measurement">{{ measurement.label }}</option>
				}
			</select>

			<button class="btn btn-light btn-sm border" type="button" (click)="removeIngredient(ingredientIndex)">
				<i class="bi bi-trash text-danger fs-6 p-0"></i>
			</button>
		</li>

		@if(ingredients.controls.length == 0){
			<p class="text-center rounded-2 border p-3 shadow-sm py-4 w-100">No ingredients for this recipe registered</p>
		}
	</ul>

	<ul class="list-group shadow-sm" formArrayName="steps">
		<li class="list-group-item d-flex justify-content-between">
			<b class="m-0">Steps</b>
			<button class="btn btn-primary btn-sm" type="button" (click)="addStep()">
				<i class="bi bi-plus-lg"></i>
			</button>
		</li>

		<li *ngFor="let step of steps.controls; trackBy: trackById; let stepIndex = index" class="list-group-item d-flex justify-content-between column-gap-2 align-items-center">
			<textarea class="m-0 form-control" [formControl]="step" rows="2"></textarea>

			<button class="btn btn-light border btn-sm" type="button" (click)="removeStep(stepIndex)">
				<i class="bi bi-trash text-danger fs-6 p-0"></i>
			</button>
		</li>
	</ul>

	<button class="btn btn-primary" type="submit">Save</button>
</form>