<form [formGroup]="form" (submit)="onSubmit()" class="recipe-wrapper d-flex flex-column p-3 row-gap-3 ">

	<div class="image w-100 p-2 d-flex justify-content-between">
		<button type="button" (click)="location.back()" class="btn btn-light btn-sm align-self-start border">
			<i class="bi bi-arrow-left fs-6 p-0"></i>
		</button>
	</div>

	<div class="title rounded-2 border p-3 shadow-sm">
		<input class="form-control form-control-lg" formControlName="title" type="text">
	</div>

	<ul class="list-group" formArrayName="ingredients">
		@for(ingredient of ingredients.controls; track ingredient.value.name;){
			<li class="list-group-item d-flex justify-content-between shadow-sm column-gap-2" [formGroupName]="$index">

				<input class="form-control form-control-sm" formControlName="name" type="text">
				
				<input class="form-control form-control-sm" formControlName="amount" type="text">

				<select  [compareWith]="compareFn"  class="form-select form-select-sm" formControlName="measurement" >
					@for(measurement of (measurements$ | async); track $index;){
						<option [ngValue]="measurement">{{ measurement.label }}</option>
					}
				</select>

				<button class="btn btn-danger btn-sm" type="button" (click)="removeIngredient($index)">
					<i class="bi bi-trash fs-6 p-0"></i>
				</button>
			</li>
		}

		@if(ingredients.controls.length > 0){
			<li class="list-group-item d-grid">
				<button class="btn btn-primary " type="button" (click)="addIngredient()">Add ingredient</button>
			</li>
		} @else {
			<p class="text-center rounded-2 border p-3 shadow-sm py-4 w-100">No ingredients for this recipe registered</p>
		}
	</ul>

	<div formArrayName="steps" class="steps d-flex flex-column row-gap-2">
		@for(step of steps.controls; track $index; let stepIndex = $index){
			<div class="p-2 border rounded-2 shadow-sm" [formGroupName]="stepIndex">
				<textarea class="m-0 form-control" formControlName="longText" rows="3"></textarea>
			</div>
		} 
	</div>

	<button class="btn btn-primary" type="submit">Save</button>
</form>