
<div class="recipe-wrapper p-3 d-flex flex-column w-100">
    <div class="title mb-3">
        <p class="m-0 text-secondary">Welcome back</p>
        <h1 class="m-0">{{ (loggedInUser$ | async)?.firstName }}</h1>
    </div>

    <app-in-focus class="mb-5"></app-in-focus>

    <!-- <app-recipe-card-section class="mb-4" title="Your likes" [likes]="isLikedMap" (onNavigateTo)="navigateToSection('LIKES')"></app-recipe-card-section> -->
    <app-recipe-card-section title="All recipes" [likes]="isLikedMap" [recipes]="allRecipes$"></app-recipe-card-section>
</div> 