/* You can add global styles to this file, and also import other style files */

.pointer{
	cursor: pointer;
}

.fs-7{
	font-size: .85rem;
}

.text-yellow{color: #ffc107;}

.text-white-75{
	color: rgba(255, 255, 255, .75) !important;
}